{% extends "FFWebBundle::layout.html.twig" %}

{% block title %} About {{ project.name }} {% endblock %}

{% block body %}
<p class="lead">What we're all about:</p>

<p class="muted">Content goes here...</p>

{% endblock %}
