{% extends "FFWebBundle::layout.html.twig" %}

{% block title %} Contact Us {% endblock %}

{% block body %}
<p class="lead">What's on your mind:</p>

<p class="muted">Form goes here...</p>
{% endblock %}