{% extends "FFWebBundle::layout.html.twig" %}

{% block title %} Purpose {% endblock %}

{% block body %}

<p class="lead">Play with your food</p>

<p>
Locavores is a site for having fun with local food.  Every week we will post an ingredient currently being harvested in the Sacramento area.  You can earn points by eating, shopping for and cooking with the ingredient of the week.  Points let you advance levels and earn badges to show off your locavore pride on your Facebook page, blog, or website. 
</p>

<p>
Something for everyone
Resources on the site are designed to be useful for everyone from those who love cook to those who love to make reservations.  The ingredient challenge page links to nearby restaurants featuring local ingredients and farmers’ markets.  
</p>

<p>
Get a piece of the pie
Users like you contribute recipes and pairings as they take on the challenge of experiencing local food.  Create an account or quickly login using your favorite social media account and add to our growing community of local foodies.</p>
</p>

{% endblock %}
