{% extends "FFWebBundle::layout.html.twig" %}

{% block title %} Home {% endblock %}

{% block body %}


    
    <!--Left Side-->
 <div class="container-fluid">
 	<div class="span10">
        <h5 class="main-challenge-header">Weekly Challenge!</h5>
         <div id="ingredient-header-challenge">
 <div class="row-fluid">
 	<div class="span4">
        <img src="/assets/IMG_9099.jpg">
        </div>
    <div class="span8">
        <h1>Cherries</h1>
        <blockquote>
 		 <p>Cherries are a wonderful late spring/early summer treat. They are perfect for pies, jams, or even savory sauces. They also make a wonderful snack!</p>
          <div class="row-fluid">
            <div class="span3">
            </div>
            <div class="span6">
            <div id="challenge-button">
            <p><a href="#" class="btn btn-primary btn-large">About the Ingredient ></a></p>
            </div>
       		</div>
             <div class="span3">
            </div>
  		</div><!--challenge button container-->

		</blockquote>
    </div> <!--ends span4-->
    </div>
    </div><!--ends ingredient header-->
    
    <!--challenge info-->
     <div class="row-fluid">
     <div class="span12">
     <h5 class="challenge-list">This Weeks Challenges:</h5>
     </div>
     </div>
     
      <div id="challenge-description">
      <div class="row-fluid">
     <div class="span10">
     <h5 class="challenge-header">Restaurant:</h5>
     <p>Head to one of the suggested restaurants featuring cherries this week and grab a bite to eat! (10 Points)</p>
     </div>
     <div class="span2">
    <button class="btn btn-primary" type="button">More ></button>
     </div>
     </div>
     </div>
     
      <div id="challenge-description">
     <div class="row-fluid">
     <div class="span10">
     	<h5 class="challenge-header">Farmers' Market:</h5>
     	<p>Grab a friend and go shopping at the farmers' market for cherries. (10 Points)</p>
        </div>
     <div class="span2">
    <button class="btn btn-primary" type="button">More ></button>
     </div>
     </div>
     </div>
        
        <div id="challenge-description">
        <div class="row-fluid">
     <div class="span10">
      <h5 class="challenge-header">Restaurant:</h5>
     <p>Fire up the stove and make a delicious recipe with cherries at home! (10 Points)</p>
     </div>
     <div class="span2">
    <button class="btn btn-primary" type="button">More ></button>
     </div>
     </div>
    </div>
    
    </div><!--ends span10-->
    
     <!--right side-->
    
	<div class="span2">
	<h5 class="participants">Participants:</h5>
    
    <div class="media">
    <img class="media-object" src="/assets/erin.jpg">
  </a>
  <div class="media-body">
    <h4 class="media-heading">Erin A.</h4>
  </div>
  </div>
  
  <div class="media">
    <img class="media-object" src="/assets/mike.jpg">
  </a>
  <div class="media-body">
    <h4 class="media-heading">Mike C.</h4>
  </div>
  </div>
  
      <div class="media">
    <img class="media-object" src="/assets/erin.jpg">
  </a>
  <div class="media-body">
    <h4 class="media-heading">Erin A.</h4>
  </div>
  </div>
  
  <div class="media">
    <img class="media-object" src="/assets/mike.jpg">
  </a>
  <div class="media-body">
    <h4 class="media-heading">Mike C.</h4>
  </div>
  </div>
  
      <div class="media">
    <img class="media-object" src="/assets/erin.jpg">
  </a>
  <div class="media-body">
    <h4 class="media-heading">Erin A.</h4>
  </div>
  </div>
  
  <div class="media">
    <img class="media-object" src="/assets/mike.jpg">
  </a>
  <div class="media-body">
    <h4 class="media-heading">Mike C.</h4>
  </div>
  </div>
  
      <div class="media">
    <img class="media-object" src="/assets/erin.jpg">
  </a>
  <div class="media-body">
    <h4 class="media-heading">Erin A.</h4>
  </div>
  </div>
  
  <div class="media">
    <img class="media-object" src="/assets/mike.jpg">
  </a>
  <div class="media-body">
    <h4 class="media-heading">Mike C.</h4>
  </div>
  </div>
    
</div>
</div><!--container fluid-->



{% endblock %}