{% extends "FFWebBundle::layout.html.twig" %}

{% block title %} Home {% endblock %}

{% block body %}
<div class="container-fluid">
<div class="span12">
<div id="challenge-info">
<h5 class="challenge-info-header">Challenge: Resturant</h5>
<blockquote>
  <p>Head to one of the local resturants that is featuring an menu item with cherries and order the dish!</p>
  <h5 class="challenge-points">Ways to get points from this challenge:</h5>
  <ul class="unstyled">
  <li>Ask for the QR code and scan it to say you had the dish (10 points)</li>
  <li>Check-in on Foursquare once you are at the restaurant (5 points)</li>
  <li>Upload a photo of your dish or the restaurant on this page! (5 points)</li>
</ul>
  
</blockquote>
</div>
</div>
  
  
  <div class="span12">
  <div id="user-photo">
  <img src="/assets/waffles copy.jpg">
  <img src="/assets/waffles copy.jpg">
  <img src="/assets/waffles copy.jpg">
  <img src="/assets/waffles copy.jpg">
  <img src="/assets/waffles copy.jpg">
  <img src="/assets/waffles copy.jpg">
  <img src="/assets/waffles copy.jpg">
  <img src="/assets/waffles copy.jpg">
  <img src="/assets/waffles copy.jpg">
  <img src="/assets/waffles copy.jpg">
    
              </div>
  </div>
    <div class="span12">
  <span class="btn btn-file">Upload<input type="file" /></span>
  </div>
  </div>
  
  </div>
  


{% endblock %}