<div class="container-fluid">
 <div class="span3">
<img src="assets/radar.jpg" class="img-circle">

 </div>
 <div class="span9">
 <h3>Radar the Dog</h3>
 <P>This would be text about the person. This would be text about the person. This would be text about the person. This would be text about the person. This would be text about the person</P>
 <p>Location:Sacramento, CA</p>
 <p>Favorite Food: Local Fish, Duck, and Chicken</p>
 </div>
 </div>
 <div class="row-fluid">
 <div class="offset4 span8">
 <h3>Challenges Completed</h3>
 </div>
 </div>
 
  <div class="row-fluid">
 <div class="span2">
 <div class="media">
    <img class="media-object" src="assets/waffles copy.jpg">
  </a>
  <div class="media-body">
    <h4 class="media-heading">Cherry Restaurant Challenge</h4>
    <p>I ate a delicious cherry compote at restaurant XYZ!</p>
  </div>
  </div>
  </div>
  
   <div class="span2">
 <div class="media">
    <img class="media-object" src="assets/waffles copy.jpg">
  </a>
  <div class="media-body">
    <h4 class="media-heading">Cherry Restaurant Challenge</h4>
    <p>I ate a delicious cherry compote at restaurant XYZ!</p>
  </div>
  </div>
  </div>
  
   <div class="span2">
 <div class="media">
    <img class="media-object" src="assets/waffles copy.jpg">
  </a>
  <div class="media-body">
    <h4 class="media-heading">Cherry Restaurant Challenge</h4>
    <p>I ate a delicious cherry compote at restaurant XYZ!</p>
  </div>
  </div>
  </div>
  
   <div class="span2">
 <div class="media">
    <img class="media-object" src="assets/waffles copy.jpg">
  </a>
  <div class="media-body">
    <h4 class="media-heading">Cherry Restaurant Challenge</h4>
    <p>I ate a delicious cherry compote at restaurant XYZ!</p>
  </div>
  </div>
  </div>
   <div class="span2">
 <div class="media">
    <img class="media-object" src="assets/waffles copy.jpg">
  </a>
  <div class="media-body">
    <h4 class="media-heading">Cherry Restaurant Challenge</h4>
    <p>I ate a delicious cherry compote at restaurant XYZ!</p>
  </div>
  </div>
  </div>
   <div class="span2">
 <div class="media">
    <img class="media-object" src="assets/waffles copy.jpg">
  </a>
  <div class="media-body">
    <h4 class="media-heading">Cherry Restaurant Challenge</h4>
    <p>I ate a delicious cherry compote at restaurant XYZ!</p>
  </div>
  </div>
  </div>
  
  
 </div>
 